.dashboard {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-body.account-page-centered {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
}

.main-content.account-content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.account-container {
  margin-top: 2rem; /* уменьшено с var(--header-height) */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem; /* уменьшено */
  gap: 1.5rem; /* уменьшено */
}

.account-card {
  max-width: 500px;
  width: 100%;
  text-align: center;
  background-color: #2c2c2c;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: var(--text-color);
}

.avatar-wrapper {
  margin-bottom: 16px;
}

.upload-label {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  color: var(--accent-color);
  font-weight: bold;
  transition: color 0.3s;
}

.upload-label:hover {
  color: #00bcd4;
}

.text-color {
  color: var(--text-color) !important;
}

.role-text {
  color: var(--text-color) !important;
  display: block;
  margin-bottom: 16px;
}

.accent-divider {
  border-color: var(--accent-color);
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
}

.icon {
  color: var(--accent-color);
  font-size: 18px;
}

.info-text {
  color: var(--text-color) !important;
}

.bottom-content {
  max-width: 900px;
  width: 100%;
  background-color: #2c2c2c;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
}

/* Тёмная таблица */
.bottom-content .ant-table,
.bottom-content .ant-table-container,
.bottom-content .ant-table-content,
.bottom-content .ant-table-thead > tr > th,
.bottom-content .ant-table-tbody > tr > td {
  background-color: #2c2c2c !important;
  color: var(--text-color) !important;
}

.bottom-content .ant-table-thead > tr > th {
  border-bottom: 1px solid #444 !important;
}

.bottom-content .ant-table-tbody > tr > td {
  border-bottom: 1px solid #333 !important;
}

.bottom-content p,
.bottom-content h4 {
  color: var(--text-color) !important;
}
.table-block {
  background-color: #2c2c2c;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  width: 100%;
  margin-top: 1.5rem;
}

.table-block .ant-table,
.table-block .ant-table-container,
.table-block .ant-table-content,
.table-block .ant-table-thead > tr > th,
.table-block .ant-table-tbody > tr > td {
  background-color: #2c2c2c !important;
  color: var(--text-color) !important;
}

.table-block .ant-table-thead > tr > th {
  border-bottom: 1px solid #444 !important;
}

.table-block .ant-table-tbody > tr > td {
  border-bottom: 1px solid #333 !important;
}

.table-block p,
.table-block h4 {
  color: var(--text-color) !important;
}
